.(Bulletin_Board)/
.pipenv/
.venv/
Bboard/__pycache__/__init__.cpython-310.pyc
Bboard/__pycache__/settings.cpython-310.pyc
Bboard/__pycache__/urls.cpython-310.pyc
Bboard/__pycache__/wsgi.cpython-310.pyc
myboardapp/__pycache__/__init__.cpython-310.pyc
myboardapp/__pycache__/admin.cpython-310.pyc
myboardapp/__pycache__/apps.cpython-310.pyc
myboardapp/__pycache__/filter.cpython-310.pyc
myboardapp/__pycache__/forms.cpython-310.pyc
myboardapp/__pycache__/models.cpython-310.pyc
myboardapp/__pycache__/signals.cpython-310.pyc
myboardapp/__pycache__/urls.cpython-310.pyc
myboardapp/__pycache__/views.cpython-310.pyc
myboardapp/migrations/__pycache__/__init__.cpython-310.pyc
myboardapp/migrations/__pycache__/0001_initial.cpython-310.pyc
users/__pycache__/__init__.cpython-310.pyc
users/__pycache__/admin.cpython-310.pyc
users/__pycache__/apps.cpython-310.pyc
users/__pycache__/forms.cpython-310.pyc
users/__pycache__/models.cpython-310.pyc
users/__pycache__/signals.cpython-310.pyc
users/__pycache__/views.cpython-310.pyc
users/migrations/__pycache__/__init__.cpython-310.pyc
users/migrations/__pycache__/0001_initial.cpython-310.pyc
.gitignore
myboardapp/templatetags/__pycache__/my_tags.cpython-310.pyc
